[Unit]
Description={{ systemd_service_name }} (docker based project hosting)
PartOf=docker.service

[Service]
User=root
WorkingDirectory={{ project_dir }}
ExecStart=/bin/bash -c 'make start'
ExecStop=/bin/bash -c 'make stop'

[Install]
WantedBy=multi-user.target
