[Unit]
Description={{ systemd_service_name }} (docker based project hosting)
PartOf=docker.service

[Service]
User=root
WorkingDirectory={{ project_dir }}
ExecStart=/bin/bash -c './harborw :start; /usr/local/bin/until-compose-env-running {{ compose_env_name }} {{ systemd_service_sleep }}'
ExecStop=/bin/bash -c './harborw :stop'

[Install]
WantedBy=multi-user.target
